.navBarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.navBarContainer img {
  width: 100px;
  object-fit: cover;
}

nav {
  display: flex;
  gap: 20px;
}
ul li:hover {
  background-color: rgb(206, 206, 206);
  border-bottom: 2px solid #c0b922;
}
a {
  text-decoration: none;
  font-size: 1.1em;
  color: #dddd32;
  font-weight: bold;
}
a:hover {
  color: #c0b922;
}
